  body {
      background-color: rgb(0, 0, 0);
      color: rgb(162, 158, 158);

  }

  header {
      position: sticky;
      top: 0;
  }

  .navigation-div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 30px;
      border-bottom: 1px solid #f70065;
      opacity: 0.9s;
      background-color: black;
      z-index: 1000;
  }

  .nav {
      display: flex;
      width: 500px;
      justify-content: space-between;
  }

  .rusume {

      padding: 12px;
      padding-left: 30px;
      padding-right: 30px;
      font-size: .75rem;
      line-height: 1rem;
      font-weight: 500;
      color: #ffffff;
      background-color: #f70065;
      border-radius: 30px;
      width: auto;
      text-decoration: none;
  }

  .rusume a {
      color: #ffffff;
      text-decoration: none;
  }

  .rusume:hover {
      background-color: #b81e5e;


  }


  .profile-name {
      font-size: 20px;
      font-weight: bold;
  }

  .navigation-div span:hover {
      color: rgb(77, 77, 77);
      cursor: pointer;
  }

  .main-content {
      margin: auto;
      width: 600px;
      height: 400px;
      padding: 50px;

  }

  .main-div {
      margin-top: 60px;
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      align-content: center;
  }

  .name-heading {
      font-size: 4.5rem;
      line-height: 1;
      margin-bottom: 50px;
      font-weight: bold;
  }

  .role {
      font-size: 1.5rem;
      line-height: 2rem;
  }

  .para {
      line-height: 2rem;
      font-size: 1.25rem;
      margin-bottom: 15px;
      height: 110px;
  }


  .work-btn {
      padding: 15px;
      background-color: #f70065;
      border-radius: 15px;
      width: 118px;
      margin: auto;
      text-align: center;

  }

  .work-btn:hover {
      background-color: #b81e5e;
  }

  .work-btn a {
      color: white;
      text-decoration: none;
  }





  .about-me {
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;
      font-size: 50px;
      line-height: 1;
      font-weight: bold;
  }

  .summary {
      margin: 0 150px;
      margin-bottom: 20px;
      border: 2px solid;
      border-color: hsl(var(--border));
      padding: 15px;
      background-color: #1f1f1d;
      border-radius: 15px;
      box-shadow: 3px 3px 3px rgb(146, 146, 146);
  }

  .education {
      margin: 0 150px;
      margin-bottom: 20px;
      border: 2px solid #808080;
      border-color: hsl(var(--border));
      background-color: #1f1f1d;
      padding: 15px;
      border-radius: 15px;
  }

  .box-heading {
      font-size: 25px;
      font-weight: bold;
  }

  .flex {
      display: grid;
      grid-template-columns: 3fr 3fr 3fr 3fr;
      text-align: center;
      /* margin-left: 200px; */
  }

  .box {
      display: flex;
      flex-direction: column;
      border: 2px solid grey;
      padding: 50px;
      background-color: #252424;
      border-radius: 25px;
      width: 200px;
      height: 100px;
      margin: 10px;
  }

  .box span {
      font-size: 25px;
      padding: 0px 10px 10px 10px;
      text-align: center;
  }

  .Contact-heading {
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;
      font-size: 50px;
      line-height: 1;
      font-weight: bold;
  }

  .connect {
      background-color: #000000;
      border-radius: 25px;
  }

  .message-btn {
      padding: 15px;
      font-size: .95rem;
      line-height: 1rem;
      font-weight: 500;
      width: 100px;
      color: wheat;
      color: #ffffff;
      background-color: #f70065;
      border-radius: 30px;
      margin: auto;

  }

  .message-btn a {
      text-decoration: none;
      color: #ffffff;
  }


  .last-div {
      text-align: center;
      padding: 30px;
      margin-top: 40px;
  }

  .last-heading {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 30px;
  }

  .paragraph {
      padding: 6px;
      line-height: 24px;
  }

  .message-btn:hover {
      color: rgb(217, 217, 217);
      background-color: #b81e5e;
  }

  .project-div {
      width: 350px;
      border: 1px solid gray;
      padding: 20px;
      margin: auto;
      box-shadow: 3px 3px 3px rgb(146, 146, 146);
  }

  .project-container {
      display: grid;
      grid-template-columns: 4fr 4fr 4fr;
  }

  .live-demo-btn {
      padding: 8px;
      background-color: #f70065;
      border-radius: 15px;
      width: 118px;
      text-align: center;
      color: white;
  }

  .live-demo-btn:hover {
      color: rgb(217, 217, 217);
      background-color: #b81e5e;
  }

  .section-skill {
      display: flex;
      justify-content: space-between;
  }

  .para-in-project {
      margin-bottom: 15px;
  }

  .skills {

      border: 2px solid grey;
      margin-top: 35px;
      text-align: center;
      margin-left: 5px;
      margin-right: 5px;
      padding: 20px;
      box-shadow: 2px 2px 2px rgb(146, 146, 146);
  }


  .skill-heading {
      text-align: center;
      background-color: #3b3333;
      padding: 15px;
  }

  .paragraph {
      padding: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
  }


  .hire-btn {
      padding: 8px;
      color: #ffffff;
      background-color: #f70065;
      border-radius: 15px;
      width: 118px;
      margin-top: 20px;
      text-align: center;
      margin: auto;

  }

  .hire-btn:hover {
      color: rgb(217, 217, 217);
      background-color: #b81e5e;
  }

  .footer-div {
      margin-top: 25px;
      margin-bottom: 25px;
      display: flex;
      justify-content: space-between;
  }

  .photo {
      margin-top: 25px;
      background-image: url(/images/logo.png);
      border-radius: 100px;
      height: 200px;
      width: 200px;
  }

  .nav a {
      text-decoration: none;
      color: white;
  }

  .nav a:hover {
      color: #808080;
  }

  .btn-project {
      display: flex;
      justify-content: space-between;
  }

  .github-btn {
      background-color: #000000;
      border: 2px solid grey;
      border-radius: 10px;
      padding: 8px;
      margin-top: auto;
  }

  .github-btn:hover {
      background-color: #808080;
      color: black;
  }

  .Language-div {
      margin-top: 50PX;
      border: 2px solid grey;
      width: 250PX;
      padding: 20px;
      margin-left: 30px;
      text-align: center;
  }

  .skills-2 {
      display: grid;
      grid-template-columns: 4fr 4fr 4fr;
  }

  .border {
      border-bottom: 1px solid grey;
  }


  .icons {
      display: flex;
      gap: 22px;

  }

  .icons a {
      color: white;
      text-decoration: none;
  }